.flash-message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

.flash-message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.flash-message.success {
    background-color: #d4edda;
    color: #155724;
}
